[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"

[packages]
model = {editable = true,path = "./model"}
tensorflow = "==1.14"
tensorflow-hub = "*"

[requires]
python_version = "3.7"
