[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
imageio = "*"
jupyterlab = "*"

[packages]
model = {editable = true,path = "./model"}
tensorflow = "==2.9.3"
tensorflow-hub = "*"
click = "*"

[requires]
python_version = "3.7"
